$color-dark: #1f1f1f;
$color-dark2: rgba(31, 31, 31, 0.5);
$color-light: #d0d0d0;
$color-light2: rgba(208, 208, 208, 0.25);
$color-white: #fff;
$color-white2: rgba(255, 255, 255, 0.8);
$color-black: #000;
$color-red:#c90000;
html{
	font-family: arial;
}
body{
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
background: rgb(240,240,240);
background: linear-gradient(45deg, rgba(240,240,240,1) 0%, rgba(255,255,255,1) 0%, rgba(233,233,233,1) 10%, rgba(244,241,241,1) 20%, rgba(255,255,255,1) 34%, rgba(247,247,247,1) 50%, rgba(255,255,255,1) 61%, rgba(247,247,247,1) 70%, rgba(255,255,255,1) 79%, rgba(252,252,252,1) 89%, rgba(255,255,255,1) 100%);
background: -moz-linear-gradient(45deg, rgba(240,240,240,1) 0%, rgba(255,255,255,1) 0%, rgba(233,233,233,1) 10%, rgba(244,241,241,1) 20%, rgba(255,255,255,1) 34%, rgba(247,247,247,1) 50%, rgba(255,255,255,1) 61%, rgba(247,247,247,1) 70%, rgba(255,255,255,1) 79%, rgba(252,252,252,1) 89%, rgba(255,255,255,1) 100%);
background: -webkit-linear-gradient(45deg, rgba(240,240,240,1) 0%, rgba(255,255,255,1) 0%, rgba(233,233,233,1) 10%, rgba(244,241,241,1) 20%, rgba(255,255,255,1) 34%, rgba(247,247,247,1) 50%, rgba(255,255,255,1) 61%, rgba(247,247,247,1) 70%, rgba(255,255,255,1) 79%, rgba(252,252,252,1) 89%, rgba(255,255,255,1) 100%);
}
.phone{
	width: 328px;
	height: 578px;
	background-color: $color-red;
	border: 10px $color-red solid;
	border-radius: 40px;
	display: flex;
	justify-content: center;
    align-items: center;
	&__display{
	position: relative;
	width: 320px;
	height: 568px;
	background-color: $color-white;
	border-radius: 25px;
    overflow: hidden;
	}
	&__nav{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 320px;
		height: 50px;
		background-color: $color-dark2;
		& a{
			width: 60px;
			height: 30px;
			border-radius: 20px;
			display: flex;
			justify-content: center;
            align-items: center; 
			margin: 0 10px;	
		&:hover,&:focus{
		background-color: $color-light2;
		}
			& svg{
				width: 16px;
			height: 16px;
				color:$color-white2;
	
			}
		}	
	}
}